body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: linear-gradient(#53514e, #050505a8);
    padding: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

input {
  color: white;
  border: 2px solid #07b0ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}

input:active {
  box-shadow: 2px 2px 15px #07b0ff inset;
}

button {
  padding: 12.5px 30px;
  margin-top: 20px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

#rules {
    margin-top: 20px;
    font-size: 16px;
    color: #cccccc;
    font-weight: bold;
}
li {
    text-align: left;
    margin-bottom: 10px;
}

#guessContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: linear-gradient(#53514e, #050505a8);
    padding: 30px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}